
*{
    margin: 0;
    padding: 0;
}
.header
{
    height: 100vh;

}
.navbar-style{
    box-shadow: 0 5px 10px #efefef;
}
.logo
{
    height:40px;
    padding: 2px 10px;
}
.icon-bar
{
    background: darkorange;
}
.big-text
{
    font-size:53px;
    margin:20px 0;
    
}
.btn
{
    margin: 30px 10px;
    width:150px;
    padding: 10px;
    border-radius: 20px;
}
.previous
{
    background-color: darkslategray;
    color: #efefef;
}
.contact-form {
    background-color: #fbfbfb;
    padding: 15px 20px 15px;
    border: 1px solid #ececec;
    width: 450px;
    margin: 50px auto;
}
.contact-form .form-header {
    margin-bottom: 40px;
}
.contact-form form textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 120px;
}
.contact-form form .btn {
    width: 100%;
}
.contact-form .form-header h2 {
    font-weight: bold;
    color: black;
}
.contact-form
{
    background-color: bisque;
}
.nav{
    font-size: 20px;
    color: black;
}
nav ul li a{
    color: black;
    font-size: 15px;
}
nav ul li a:hover{
    color: black;
}

    .card:hover {
        transform: scale(1.1);
        background-color: rgb(10, 10, 10);
    }
/*-- CSS for extra small devices--*/
@media (max-width: 767px){
.contact-form {
    width: 90%;
}
}
